.btn:hover{
    color: #ECE8E1 !important;
    background-color: #0F1923 !important;
    transform: translate(0px, -10px);
    transition: all 0.3s ease-out !important;
}
.box:hover{
    opacity: 1 !important;
    transition: all 1s linear !important;
}

.ability:hover{
    opacity: 1 !important;
    transition: all 0.3s ease-out !important;
}
.ability-box:hover{
    transform: translate(0px, -5px);
    box-shadow: none !important;
    transition: all 0.3s ease-out !important;
}

.txt{
    animation: moverElemento 1.5s ease-in-out;
}

@keyframes moverElemento {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 990px) {
    .imgc{
        display: none;
    }
    .ghost{
        display: none;
    }
    .principal{
        justify-content: center;
        display: block !important;
    }
    .padding{
        margin: 0 !important;
        width: 100% !important;
    }
    .imgb{
        display: none;
    }
}